.advantages{
	background-color: $bg-secondary;
	&-block{
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__item{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-basis: 32%;
			width: 300px;
			height: 253px;
			border: 2px solid #ffffff;
			text-align: center;
			&-name{
				color: #292929;
				font-family: "Gotham Pro", sans-serif;
				font-size: 15px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			&-img{
				margin-bottom: 20px;
			}
			&-text{
				width: 214px;
				height: 47px;
				color: #292929;
				font-family: "Gotham Pro", sans-serif;
				font-size: 12px;
				font-weight: 300;
				line-height: 18px;
			}
		}
	}
}
@media (max-width: 788px){
.advantages{
		&-block{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			&__item{
				flex-basis: 90%;
				border: 2px solid #f6f6f6;
				background-color: #ffffff;
				margin-bottom: 10px;
			}
			
		}
	}
}