.header{
	width: 100%;
	height: 130px;
}
.navbar{
	width: 100%;
	height: 45px;
	width: 100%;
	margin-top: 30px;
	background-color: #fff;
	z-index: 99;
	&__logo, &__callback{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo-image{
		margin-right: 25px;
	}
	&-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__mobile{
		text-align: right;
		margin-right: 30px;
	}
	&__phone{
		font-size: 18px;
		font-family: "GothamPro", sans-serif;
		color: $text-color;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.222;
		text-align: right;
		display: block;
		margin-bottom: 5px;
		text-decoration: none;
	}
	&__small-text{
		font-size: 11px;
		font-family: "GothamPro", sans-serif;
		color: $text-color-light;
		line-height: 2;
		text-align: right;
		text-decoration: none;
		display: block;
	}
	&__button{
		font-size: 12px;
		font-family: "GothamPro", sans-serif;
		color: $text-color;
		line-height: 1.833;
		border: 2px solid $text-color;
		text-align: center;
		text-transform: uppercase;
		padding: 12px 22px;
		font-size: 12px;
		background-color: transparent;
		text-decoration: none;
		&:hover{
			cursor: pointer;
		}
	}
}
.menu{
	height: 60px;
	transform: translateY(100%);
	&__nav{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: $warning;
	}
	&__link{
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		font-family: "GothamPro", sans-serif;
		color: $text-color;
		line-height: 1.571;
	}
	&-button{
		display: none;
		background-color: transparent;
		border: none;
		border-right: 1px solid rgba(rgb(41, 41, 41),0.1);
		border-left: 1px solid rgba(rgb(41, 41, 41),0.1);
		height: 80px;
		width: 70px;
		&:hover{
			cursor: pointer;
		}
		&:focus{
			outline: none;
		}
		&__line{
			display: block;
			width: 20px;
			height: 3px;
			background-color:rgb(41, 41, 41);
			margin: 2px 0;
		}
	}
}
.logo{
	&__text{
		font-size: 20px;
		font-family: "GothamPro", sans-serif;
		color: $text-color;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.1;
		display: block;
		margin-bottom: 5px;
	}
	&__description{
		font-size: 11px;
		font-family: "GothamPro", sans-serif;
		color: $text-color-light;
		line-height: 2;
		display: block;
	}
}
@media (max-width: 991px){
	.navbar{
		&__mobile{
			display: none;
		}
	}
	
}
@media (max-width: 576px){
	.navbar{
		position: fixed;
		top: 0;
		padding: 10px 0;
		height: 80px;
		margin-top: 0;
	}
	.logo{
		display: none;
	}
	.menu{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
		&__nav{
			display: flex;
			flex-direction: column;
		}
		&-button{
			height: 60px;
		}
		&__link{
			margin-bottom: 20px;
		}
		&-button{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
 }
